<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="AzureLogger" fileName="${basedir}/../../../../Deployment/logs/${shortdate}-Azure.log"
				layout="${longdate} [${level}] ${message}" keepFileOpen="false" encoding="utf-8" archiveAboveSize="10485760"
				maxArchiveFiles="10" archiveNumbering="Rolling" concurrentWrites="true" concurrentWriteAttemptDelay="10" createDirs="true"/>
		<target xsi:type="File" name="AmazonLogger" fileName="${basedir}/../../../../Deployment/logs/${shortdate}-Amazon.log"
				layout="${longdate} [${level}] ${message}" keepFileOpen="false" encoding="utf-8" archiveAboveSize="10485760"
				maxArchiveFiles="10" archiveNumbering="Rolling" concurrentWrites="true" concurrentWriteAttemptDelay="10" createDirs="true"/>
		<target xsi:type="File" name="GoogleLogger" fileName="${basedir}/../../../../Deployment/logs/${shortdate}-Google.log"
				layout="${longdate} [${level}] ${message}" keepFileOpen="false" encoding="utf-8" archiveAboveSize="10485760"
				maxArchiveFiles="10" archiveNumbering="Rolling" concurrentWrites="true" concurrentWriteAttemptDelay="10" createDirs="true"/>
	</targets>

	<rules>
		<logger name="GoogleCloudLogger" writeTo="GoogleLogger" minlevel="Info" />
		<logger name="AmazonCloudLogger" writeTo="AmazonLogger" minlevel="Info" />
		<logger name="AzureCloudLogger" writeTo="AzureLogger" minlevel="Info" />
	</rules>
</nlog>
